{% extends "base.html" %}
{% block title %}home{% endblock title %}
{% block homeactive %}active{% endblock homeactive %}">
{% block body %}
<div class="container  ">
    <div class="row fullscreen d-flex align-items-center ">
        <div class="banner-content col-lg-7 col-md-6 justify-content-center mt-5">
            <h6 class="text-uppercase pt-10 mt-5">Hospitality needs a revamp</h6>
            <h1>
                Make your hotel and restaurant smart
            </h1>
            <p class="text-white">
                <ul class="text-white">
                    <li>
                        Contactless dining
                    </li>
                    <li>
                        Restaurant automation
                    </li>
                    <li>
                        Smart hospitality
                    </li>
                </ul>
            </p>
            {% if user.is_authenticated %}
            <a class="btn btn-info" href="/dashboard" role="button">Go To Dashboard</a>            
            {% else %}
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#signupModal">
               Get Started For Free
            </button>
            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}