{% extends "deliverycustomerapp/customerbase.html" %}
{% load static %}
{% block title %}Cigo{% endblock title %}
{% block body %}
<div class="container">
    <div class="card">
        <center>
            <header class="card-header ">
                <h5>Your Order:</h5>
            </header>
        </center>
        <div class="card-body">
            <div>
                <div class="my-4">
                    <ul class="list-group" id="items">
                    </ul>
                </div>
                <div class="col my-4">
                    <center>
                    <a href="/deliverycustomerapp/{{restaurantid}}/" class="btn btn-info" role="button">Change Order</a>
                    </center>
                </div>
                <div style="display : flex;">
                    <a href="/deliverycustomerapp/{{restaurantid}}/address" class="btn btn-info mr-2" role="button">Payment On Delivery </a>
                    <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#discount" >
                        Online Payment
                    </button>
                    
                </div>
                    <div class="collapse" id="discount">
                        <div class="card mb-2 float-center">
                            <div class="card-header py-3">
                                <p>Copy the Phone No. and Pay from (Paytm / Google Pay / Phonepay)</p>
                                <div style="display: flex;">
                                <p class="mt-3" id="p1">{{paymentphoneno}}</p>
                                <button class="btn btn-secondary ml-2" type="button" onclick="copyToClipboard('#p1')">Copy To Clipboard</button>
                                
                                </div> 

                            </div>
                            <a href="/deliverycustomerapp/{{restaurantid}}/address" class="btn btn-info" type="button"> Payment Done</a>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
{% endblock body %}
{% block js %}
<script type="text/javascript">
var discountval = '{{discount}}';
var sgstval = '{{sgstval}}';
var cgstval = '{{cgstval}}';
</script>
<script>
    function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
}

</script>
<script src="{% static 'deliverycustomerapp/js/checkout.js' %}"></script>

{% endblock js %}