{% extends "onlymenuapp2/emenubase.html" %}
{% load static %}
{% block title %}Menu{% endblock title %}
{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="{% static 'customerapp/css/menu.css' %}">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cantarell&family=RocknRoll+One&display=swap" rel="stylesheet">


    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
    <!-- Site Metas -->
    <title>Cigo Emenu</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Site Icons -->
    <!-- <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" /> -->
    <!-- <link rel="apple-touch-icon" href="images/apple-touch-icon.png"> -->
    <!-- Bootstrap CSS -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    {# <link rel="stylesheet" href="{% static 'onlymenuapp2/css/bootstrap.min.css' %}"> #}
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'onlymenuapp2/css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'onlymenuapp2/css/responsive.css' %}">
    <!-- color -->
    <link id="changeable-colors" rel="stylesheet" href="{% static 'onlymenuapp2/css/colors/orange.cs' %}s" />
    
    <!-- Modernizer -->
    <script src="{% static 'onlymenuapp2/js/modernizer.js' %}"></script>
    <style type="text/css">
        .box.showContent p{
            height: auto;
        }
        .box p{
            height:20px; 
            overflow: hidden;
        }

    </style>
{% endblock head %}

{% block body %}

    <div id="loader">
        <div id="status"></div>
    </div>

<center><h2 class="whitetext mt-2" style="font-family: 'RocknRoll One', sans-serif;">{{restaurantname}}</h2></center>
<!-- end site-header -->
    <div id="menu" class="menu-main mt-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="tab-menu">
                        <div class="slider slider-nav">
                            {% for prodlist in allProds %}
                            <div class="tab-title-menu">
                                <h2>{{prodlist.0.category}}</h2>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                    <div class="tab-menu">
                        <div class="slider slider-single">
                            <!-- ------------------------------------------------------1---------------------------------------------- -->
                            {% for prodlist in allProds %}
                            <div>
                                <section class="text-gray-600 body-font">
                                    <div class="container px-2 py-2 mx-auto">
                                        <div class="flex flex-wrap -m-2">
                                            {% for i in prodlist %}
                                            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                                                <div class="h-full flex items-center border-gray-200 border p-1 rounded-lg">
                                                    <div class="box flex-grow ml-3 ">
                                                        <h4 class="text-gray-900 title-font font-medium mt-2">{{i.product_name}} </h4>
                                                        {% if i.customisable %}
                                                        <div class="text-gray-700">
                                                        {% for k,v in allcustomisablefields.items %}
                                                            {% if k == i.product_id %}
                                                                {% for c in v %}
                                                                    {{ c.customitemname }} - ₹{{ c.customitemprice }} /
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                        </div>
                                                        <!-- <button type="button" id="{{i.product_id}}" class="btn btn-primary btn-sm" onclick="customise(id)">Customisable</button> -->
                                                        {% else %}
                                                        <p class="text-gray-700">₹ {{i.price}}</p>
                                                        {% endif %}

                                                        <p class="text-gray-500">{{i.description}}</p>
                                                        <a class="readmore-btn text-gray-700">More</a>
                                                        
                                                        
                                                    </div>
                                                    {% if i.pictype %}
                                                    <img alt="team" class="w-28 h-15 bg-gray-100 object-cover object-center flex-shrink-0 mr-3" src="{{i.image.url}}">
                                                    {% else %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </section>
                                <!-- end col -->
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- end tab-menu -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end menu -->
    <a href="#" class="scrollup" style="display: none;">Scroll</a>



{% endblock body %}
{% block js %}

    <script src="{% static 'onlymenuapp2/js/all.js' %}"></script>
    <script src="{% static 'onlymenuapp2/js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'onlymenuapp2/js/custom.js' %}"></script>
    <script type="text/javascript">
    
    function customise(id){
        alert("{% for k, v in allcustomisablefields.items %} {{k}}: {{v.Qtr}} {% endfor %}")
    }
    </script>
    <script type="text/javascript">

    $(".readmore-btn").on('click', function(){

        $(this).parent().toggleClass("showContent");
    })
    </script>
{% endblock js %}

