{% extends "app/appbase.html" %}
{% load static %}
{% block title %}home{% endblock title %}
{% block setupactive %}active{% endblock setupactive %}
{% block pageheading %}
<h1 class="h3 mb-0 text-gray-800 mr-4">Home Delivery Orders</h1>
{% endblock pageheading %}
{% block body %}
<div class="container-fluid">
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h4 class="m-0 font-weight-bold text-primary">New Orders</h4>
		</div>
		<div class="card-body">
			<div class="text-center">
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<div id="newdeliveryorder"></div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock body %}
{% block js %}
    <script src="{% static 'deliverydashboard/js/deliverydash.js' %}"></script>
{% endblock js %}