{% extends "app/appbase.html" %}
{% block title %}Cigo{% endblock title %}
{% block setupactive %}active{% endblock setupactive %}
{% block pageheading %}
<h1 class="h3 mb-0 text-gray-800 mr-4">Setup</h1>
{% endblock pageheading %}
{% block body %}
<div class="container-fluid">
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h4 class="m-0 font-weight-bold text-primary">Step 1:</h4>
		</div>
		<div class="card-body">
			<div class="text-center">
			</div>
			<div>
				<h5 class="text-center "> Details Of Your Restaurant</h5>
			</div>
			<div class="text-center">
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#newVenueModal">
					Add Venue
				</button>
			</div>
			<div class="table-responsive">
				<table class="table mt-2">
					<thead class="table-success">
						<tr>
							<th scope="col">Sno.</th>
							<th scope="col">Venue</th>
							<th scope="col">Number Of Tables</th>
							<th scope="col">Payment Ph.</th>
							<th scope="col">Update</th>
							<th scope="col">Remove</th>
						</tr>
					</thead>
					<tbody>
						{% for i in allrestaurants %}
						<tr>
							<th scope="row">{{ forloop.counter }}</th>
							<td id="venuename{{i.venueid}}">{{i.venuename}}</td>
							<td id="notables{{i.venueid}}">{{i.notables}}</td>
							<td id="paymentphoneno{{i.venueid}}">{{i.paymentphoneno}}</td>
							<td><button id="{{i.venueid}}" type="button" class="btn btn-success updatevenue" data-toggle="modal" data-target="#updateVenueModal">Update</button></td>
							<td><button type="button" id="{{i.venueid}}" class="btn btn-danger deletevenue">Delete</button></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<!--                 {% for i in allrestaurants %}
				<p>{{ forloop.counter }}. {{i.venuename}}</p>
				{% endfor %} -->
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h4 class="m-0 font-weight-bold text-primary">Step 2:</h4>
		</div>
		<div class="card-body">
			<div class="text-center">
			</div>
			<div>
				<h5 class="text-center "> Add Your Employees </h5>
			</div>
			<div class="text-center">
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#signupModal">
					Add Member
				</button>
			</div>
			<div class="table-responsive">
				<table class="table mt-2">
					<thead class="table-warning">
						<tr>
							<th scope="col">Sno.</th>
							<th scope="col">Employees</th>
							<th scope="col">Venue</th>
							<th hidden scope="col">Venueid</th>
							<th scope="col">Roles</th>
							<th scope="col">Phone No.</th>
							<th scope="col">Update</th>
							<th scope="col">Remove</th>
						</tr>
					</thead>
					<tbody>
						{% for i in allemployee %}
						<tr>
							<th scope="row">{{ forloop.counter }}</th>
							<td id="employeename{{i.employeeid}}">{{i.name}}</td>
							<td id="employeevenue{{i.employeeid}}">{{i.venue}}</td>
							<td hidden id="employeevenueid{{i.employeeid}}">{{i.venue.venueid}}</td>
							<td id="employeerole{{i.employeeid}}">{{i.role}}</td>
							<td id="employeephone{{i.employeeid}}">{{i.ph}}</td>
							<td><button id="{{i.employeeid}}" type="button" class="btn btn-success updateemployee" data-toggle="modal" data-target="#updateEmployeeModal">Update</button></td>
							<td><button type="button" id="{{i.employeeid}}" class="btn btn-danger deleteemployee" >Delete</button></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<!--                 {% for i in allemployee %}
				<p>{{i.name}}</p>
				{% endfor %} -->
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h4 class="m-0 font-weight-bold text-primary">Step 3:</h4>
		</div>
		<div class="card-body">
			<div class="text-center">
			</div>
			<div>
				<h5 class="text-center "> Add Food Menu</h5>
			</div>
			<div class="text-center">
				<a type="button" class="btn btn-info" href="./menupage">
					Add Menu Items
				</a>
			</div>
		</div>
	</div>
</div>
<!-- New Venue Details Starts-->
<div class="modal fade" id="newVenueModal" tabindex="-1" role="dialog" aria-labelledby="newVenueModallLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Put Venue Details Here</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="./newvenue" method="post">
					{% csrf_token %}
					<div class="form-group">
						<label for="name">Name Of Your Restaurant:</label>
						<input type="name" class="form-control" id="venuename" name="venuename" aria-describedby="name">
					</div>
					<div class="form-group">
						<label for="notables">Number Of Tables:</label>
						<input type="number" class="form-control" name="notables" id="notables">
					</div>	
					<div class="form-group">
						<label for="paymentphoneno">Payment Phone No:</label>
						<input type="phone" class="form-control" name="paymentphoneno" id="paymentphoneno" placeholder="Phone No. Linked To Bank Account">
					</div>
					<!-- img start -->
					<!--                     <div class="form-group">
						<label for="rlogo">Logo Of Your Restaurant:</label>
						<input type="file" class="form-control-file" id="rlogo">
					</div> -->
					<!-- img end -->
					<button type="submit" class="btn btn-primary">Add The Venue</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- New Venue Details Ends-->
<!-- Update Venue Details Starts-->
<div class="modal fade" id="updateVenueModal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Update Your Venue Details Here</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="./editvenue" method="post">
					{% csrf_token %}
					<div class="form-group">
						<input type="hidden" class="form-control" id="venueid" name="venueid">
					</div>
					<div class="form-group">
						<label for="name">Name Of Your Restaurant:</label>
						<input type="name" class="form-control" id="editvenuename" name="editvenuename">
					</div>
					<div class="form-group">
						<label for="notables">Number Of Tables:</label>
						<input type="number" class="form-control" name="editnotables" id="editnotables">
					</div>
					<div class="form-group">
						<label for="paymentphoneno">Payment Phone No:</label>
						<input type="phone" class="form-control" name="editpaymentphoneno" id="editpaymentphoneno" placeholder="Phone No. Linked To Bank Account">
					</div>
					<!-- img start -->
					<!--                     <div class="form-group">
						<label for="rlogo">Logo Of Your Restaurant:</label>
						<input type="file" class="form-control-file" id="rlogo">
					</div> -->
					<!-- img end -->
					<button type="submit" class="btn btn-primary">Update The Venue</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Update Venue Details Ends-->
<!-- Signup Employee Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="signupModalLabel">Type Your Employee's Details</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="./addemployee" method="post">
					{% csrf_token %}
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="inputGroupSelect01">Venue</label>
						</div>
						<select class="custom-select" id="restaurant" name="restaurant">
							<option value="" disabled selected hidden>Choose Venue</option>
							{% for i in allrestaurants %}
							<option value="{{i.venueid}}">{{i.venuename}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group ">
						<label for="fname">Name</label>
						<input type="text" class="form-control" id="fname" name="fname" aria-describedby="fnameHelp" required>
					</div>
					<div class="form-group">
						<label for="phone">Phone Number (User Id)</label>
						<input type="phone" class="form-control" id="phone" name="phone" aria-describedby="phone" required>
					</div>
					<div class="form-group ">
						<label for="pass1">Password</label>
						<input type="password" class="form-control" name="pass1" id="pass1" required>
					</div>
					<div class="form-group">
						<label for="pass2">Confirm Password</label>
						<input type="password" class="form-control" name="pass2" id="pass2" required>
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="inputGroupSelect01">Role</label>
						</div>
						<select class="custom-select" id="role" name="role">
							<option selected>Choose...</option>
							<option value="Manager">Manager</option>
							<option value="Waiter">Waiter</option>
						</select>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- End Signup Employee Modal -->
<!-- Update Employee Modal -->
<div class="modal fade" id="updateEmployeeModal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Update Your Employee's Details</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="./editemployee" method="post">
					{% csrf_token %}
					<div class="form-group ">
						<input type="hidden" class="form-control" id="employeeid" name="employeeid">
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="inputGroupSelect01">Venue</label>
						</div>
						<select class="custom-select" id="editemployeevenue" name="editemployeevenue">
							{% for i in allrestaurants %}
							<option value="{{i.venueid}}">{{i.venuename}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group ">
						<label for="fname">Name</label>
						<input type="text" class="form-control" id="editemployeename" name="editemployeename" aria-describedby="fnameHelp" required>
					</div>
					<div class="form-group">
						<label for="phone">Phone Number (User Id)</label>
						<input type="phone" class="form-control" id="editemployeephone" name="editemployeephone" aria-describedby="phone" required>
					</div>
					<div class="form-group ">
						<label for="pass1">Password</label>
						<input type="password" class="form-control" name="editemployeepass1" id="editemployeepass1" required>
					</div>
					<div class="form-group">
						<label for="pass2">Confirm Password</label>
						<input type="password" class="form-control" name="editemployeepass2" id="editemployeepass2" required>
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="inputGroupSelect01">Role</label>
						</div>
						<select class="custom-select" id="editemployeerole" name="editemployeerole">
							<option selected>Choose...</option>
							<option value="Manager">Manager</option>
							<option value="Waiter">Waiter</option>
						</select>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Update Signup Employee Modal -->
{% endblock body %}
{% block js %}
<script type="text/javascript">
// -------------------------------------------------------------------Venue Start----------------------------------------------------------------
$(".updatevenue").click(function() {

	var venuename = document.getElementById("venuename" + this.id);
	document.getElementById("editvenuename").value = venuename.textContent;

	var notables = document.getElementById("notables" + this.id);
	document.getElementById("editnotables").value = notables.textContent;	

	var paymentphoneno = document.getElementById("paymentphoneno" + this.id);
	document.getElementById("editpaymentphoneno").value = paymentphoneno.textContent;

	document.getElementById("venueid").value = this.id;

});

$(".deletevenue").click(function() {

	var id = this.id;
	var url = 'deletevenue?id=' + id;
	var req = new XMLHttpRequest();
	req.onreadystatechange = function() {
		if (this.readyState === 4 && this.status === 200) {
		
			location.reload();
		}
	};

	req.open("GET", url, true);
	req.send();

});
// -------------------------------------------------------------------Venue End----------------------------------------------------------------
// -------------------------------------------------------------------Employee Start----------------------------------------------------------------
$(".updateemployee").click(function() {

	var employeevenue = document.getElementById("employeevenueid" + this.id);
	document.getElementById("editemployeevenue").value = employeevenue.textContent;	

	var employeename = document.getElementById("employeename" + this.id);
	document.getElementById("editemployeename").value = employeename.textContent;

	var employeephone = document.getElementById("employeephone" + this.id);
	document.getElementById("editemployeephone").value = employeephone.textContent;	

	var employeerole = document.getElementById("employeerole" + this.id);
	document.getElementById("editemployeerole").value = employeerole.textContent;

	document.getElementById("employeeid").value = this.id;

});

$(".deleteemployee").click(function() {

	var id = this.id;
	var url = 'deleteemployee?id=' + id;
	var req = new XMLHttpRequest();
	req.onreadystatechange = function() {
		if (this.readyState === 4 && this.status === 200) {
		
			location.reload();
		}
	};

	req.open("GET", url, true);
	req.send();

});

// -------------------------------------------------------------------Employee End----------------------------------------------------------------
</script>
{% endblock js %}