{% extends "app_eordering/customerbase.html" %}
{% load static %}
{% block title %}Checkout{% endblock title %}
{% block body %}
<div class="container">
	<div class="col my-4">
		<h2 class="whitetext">Your Order: </h2>
		{# <button class=" btn btn-info" onclick="deleteall()">Clear</button> #}
		<div class="my-4">
			<ul class="list-group" id="items">
			</ul>
		</div>
	</div>
	<div class="col my-4">
		<!-- <p>Table no: {{table_no}}</p> -->
		<form method="post" action="/eordering/{{restaurantid}}/{{tableno}}/{{hashcode}}/checkout/">
			{% csrf_token %}
			<input type="hidden" name="itemsJson" id="itemsJson">
			<!-- <input type="hidden" id="status" name="status" value="0"> -->
			<button type="submit" class="btn btn-info mr-2">Send Order </button>
			<a href="/eordering/{{restaurantid}}/{{tableno}}/{{hashcode}}/menu" class="btn btn-info" role="button">Change Order</a>
		</form>
	</div>
	<p class="whitetext"> Once You Send The Order, It Cant Be Changed</p>
</div>

{% if thank %}
<script>
swal("Thanks For Ordering With Us!", {

	})
	.then((value) => {
		localStorage.clear();
		document.location.href = "/eordering/{{restaurantid}}/{{tableno}}/{{hashcode}}/menu";
	});
</script>
{% endif %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="{% static 'customerapp/js/checkout.js' %}"></script>
{% endblock body %}