{% extends "onlymenuapp2/emenubase.html" %}
{% load static %}
{% block title %}Menu{% endblock title %}
{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="{% static 'onlymenuapp2/css/onlymenu2.css' %}">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cantarell&family=RocknRoll+One&display=swap" rel="stylesheet">


    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
    <!-- Site Metas -->
    <title>Cigo Emenu</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Site Icons -->
    <!-- <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" /> -->
    <!-- <link rel="apple-touch-icon" href="images/apple-touch-icon.png"> -->
    <!-- Bootstrap CSS -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <!-- {# <link rel="stylesheet" href="{% static 'onlymenuapp2/css/bootstrap.min.css' %}"> #} -->
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'onlymenuapp2/css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'onlymenuapp2/css/responsive.css' %}">
    <!-- color -->
    <link id="changeable-colors" rel="stylesheet" href="{% static 'onlymenuapp2/css/colors/orange.cs' %}s" />
    
    <!-- Modernizer -->
    <script src="{% static 'onlymenuapp2/js/modernizer.js' %}"></script>
    <style type="text/css">
        .box.showContent p{
            height: auto;
        }
        .box p{
            height:1px; 
            overflow: hidden;
        }

    </style>
{% endblock head %}

{% block body %}
{% if orderdone %}
<div class="alert alert-success py-2 mt-1" role="alert">
    <a href="../status"><button type="button" class="btn alert-success btn-sm btn-block py-0">View Order Status</button></a>
</div>
{% endif %}

<nav class=" navbar fixed-bottom bg-info py-1" id="checkoutnav">
    <button type="button" class="btn btn-primary mx-2" id="popcart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i> View Cart(<span id="cart">0</span>)
    </button>
    <a href="../checkout"><button class="btn btn-primary mr-3">
            Order Food <i class="fa fa-arrow-right"></i>
        </button>
    </a>
</nav>
<div style="height:148px;border-radius: 0 0 60% 60%;background-color: #ff9847;">
    <div id="loader">
        <div id="status"></div>
    </div>

<center><h2 class="whitetext " style="font-family: 'RocknRoll One', sans-serif;"><span class="restaurantname">{{restaurantname}}</h2></span></center>
<!-- end site-header -->
    <div id="menu" class="menu-main mt-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="catagorycard tab-menu">
                        <div class="slider slider-nav">
                            {% for prodlist in allProds %}
                            <div class="tab-title-menu">
                                <h2>{{prodlist.0.category}}</h2>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <br>
                    <!-- <div class="tab-menu"> -->
                        <div class="slider slider-single">
                            <!-- ------------------------------------------------------1---------------------------------------------- -->
                            {% for prodlist in allProds %}
                            <!-- <div> -->
                                <section class="text-gray-600 body-font">
                                    <div class="container px-2 py-2 mx-auto">
                                        <div class="flex flex-wrap -m-2">
                                            {% for i in prodlist %}
                                            <div class="menucard p-2 lg:w-1/3 md:w-1/2 w-full">
                                                <div class="h-full flex items-center rounded-lg">
                                                    <div class="box flex-grow ml-3 mt-4 ">
                                                        <h4 class="ab mt-2 text-gray-1400" id="namepr{{i.product_id}}" style="font-family: 'Cantarell', sans-serif;">{{i.product_name}}</h4>
                                                        <div class="text-gray-700 mb-2">₹ {{i.price}}</div>
                                                        <a class="readmore-btn text-gray-700 " ><button type="button" class=" btn-primary btn-sm">Read</button></a>

                                                        <span id="divpr{{i.product_id}}" class="divpr" >
                                                            <button id="pr{{i.product_id}}" class=" btn-sm btn-primary cart ">Add</button>
                                                        </span>
                                                        
                                                        
                                                        <p class="text-gray-500">{{i.description}}</p>
                                                        
                                                    </div>
                                                    {% if i.pictype %}
                                                    <div class="box flex-grow">
                                                    <img alt="team" class="w-28 h-15 bg-gray-100 object-coverobject-none object-right flex-shrink-0 " src="{{i.image.url}}">
                                                    </div>
                                                    {% else %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </section>
                                <!-- end col -->
                            <!-- </div> -->
                            {% endfor %}
                        </div>
                    <!-- </div> -->
                    <!-- end tab-menu -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end menu -->
    <a href="#" class="scrollup" style="display: none;">Scroll</a>

</div>

{% endblock body %}
{% block js %}
    <script src="{% static 'customerapp/js/menu.js' %}"></script>
    <script src="{% static 'onlymenuapp2/js/all.js' %}"></script>
    <script src="{% static 'onlymenuapp2/js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'onlymenuapp2/js/custom.js' %}"></script>
    <script type="text/javascript">
    
    function customise(id){
        alert("{% for k, v in allcustomisablefields.items %} {{k}}: {{v.Qtr}} {% endfor %}")
    }
    </script>
    <script type="text/javascript">

    $(".readmore-btn").on('click', function(){

        $(this).parent().toggleClass("showContent");
    })
    </script>
{% endblock js %}

